@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
body {
    margin: 0;
    padding: 0;
    height: 2048px;
    font-family: 'Lato', sans-serif;
}
p {
    line-height: 28px;
    font-size: 16px;
}
.section {
    padding: 4% 4%;
}
.heading {
    margin: 0;
    font-size: 3em;
    font-weight: 700;
}
.heading:after {
    background-color: #F4511E;
    content: '';
    height: 0.2em;
    width: 1.2em;
    display: block;
    margin-top: 0.4em;
}
.first-section {
    background-image: url(../image/section-1.jpg);
    position: relative;
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 20em;
    padding-bottom: 20em;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.logo-block img {
    height: 50px;
    float: left;
}
.logo-heading {
    display: inline;
    float: left;
    color: white;
    padding-left: 10px;
    margin: 10px 0;
}
.menu-bar {
    margin-left: 50px;
    margin-top: 8px;
    display: inline-block;
}
.menu-bar ul li a {
    text-decoration: none;
    color: white;
}
.menu-bar ul {
    list-style-type: none;
    margin: 10px 10px;
}
.menu-bar ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 40px;
}
.nav-block {
    background-color: transparent;
    padding: 20px 5em;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.mid-block {
    position: relative;
    color: white;
    font-weight: 700;
}
.first-mid-first {
    float: left;
    width: 50%;
}
.first-mid-second {
    float: right;
    width: 50%;
    background-color: rgba(221, 72, 44, 0.4);
    height: 7em;
}
.search-block {
    border: none;
    width: 80%;
    background-color: #FFF;
    height: 7em;
}
.search-input input {
    border: none;
    border-bottom: 3px solid #696969;
    width: 80%;
}
.search-input {
    width: 60%;
    margin-right: 6%;
    margin-top: 6%;
    float: right;
}
.search-input i {
    color: #696969;
    font-size: 1em;
    margin-top: 6%;
}
.search-block-icon {
    float: left;
    font-size: 3em;
    padding-top: 5%;
    padding-left: 10%;
}
.search-block-icon i {
    color: #696969;
    float: right;
}
.second-section {
    height: 40%;
    background-color: white;
}
.second-section-first {
    height: auto;
    text-align: center;
}
.second-section-first h1 {
    padding-top: 4%;
    padding-bottom: 4%;
}
.second-section-first .heading::after {
    margin: 0.5em auto;
}
.second-section-first p {
    color: #696969;
    max-width: 70%;
    margin: 1% auto;
}
.brick-block {
    width: 40%;
    padding-left: 4%;
    padding-top: 4%;
    padding-right: 4%;
    display: inline-block;
}
.block-icon {
    float: left;
    font-size: 6em;
    margin: 3%;
    color: #F4511E;
}
.block-content {
    float: right;
    width: 65%;
}
.block-content h3 {
    text-transform: uppercase;
    font-weight: 700;
}
.block-content p {
    color: #696969;
    font-size: 14px;
}
.third-section {
    height: 35%;
    background-color: #F4511E;
}
.third-section-first .heading {
    color: white;
}
.third-section-first .heading:after {
    background-color: white;
}
.third-section-first p {
    color: rgba(255, 255, 255, 0.8);
    padding-top: 3%;
    max-width: 50%;
}
.brand-block {
    margin: 4%;
    text-align: center;
    display: inline-block;
}
.brand-block i {
    color: #FFF;
    font-size: 6em;
}
.third-section-first {
    padding: 3%;
}